# Conteúdo do .gitignore do frontend
logs
*.log
npm-debug.log*
/node_modules
/build
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
.env
.DS_Store
Thumbs.db

# Regras adicionais para o backend e raiz do projeto
/backend/target
